*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #f8f5f2;
    color:#333333;
}
header{
    background: #4b2e2e;
    color: white;
    text-align: center;
    padding: 30px;
}
header h1{
    font-size: 40px;
}
.hero img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.about{
    text-align: center;
    padding: 50px 20px;
}
.about h2{
    margin-bottom:20px;
    padding:10px;
    color: #4b2e2e;
}
.menu{
    padding: 40px 20px;
    text-align: center;
}

.menu h2{
    margin-bottom: 30px;
    color: #4b2e2e;
}

.menu-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    background: white;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.card h3{
    margin-bottom: 10px;
}

.contact{
    text-align: center;
    padding: 50px 20px;
}

.contact h2{
    margin-bottom: 25px;
    color: #4b2e2e;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 15px;
}

input{
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
}

.gallery{
    text-align: center;
    padding: 40px 20px;
}

.gallery h2{
    margin-bottom: 25px;
    color: #4b2e2e;
}

.gallery-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery-container img{
    width: 180px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.gallery-container img:hover{
    transform: scale(1.05);
}

.button-section{
    text-align: center;
    margin: 40px 0;
}

button{
    background: #4b2e2e;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover{
    background: #6f4e37;
}

footer{
    background: #4b2e2e;
    color: white;
    text-align: center;
    padding: 15px;
}

@media(max-width: 768px){
    .menu-container{
        flex-direction: column;
        align-items: center;
    }

    .gallery-container{
        flex-direction: column;
        align-items: center;
    }

    form{
        width: 90%;
    }
}
@media(max-width: 768px){

    .carousel img{
        width: 90%;
        height: auto;
    }

}

.carousel{
    text-align: center;
    padding: 50px 20px;
}

.carousel h2{
    margin-bottom: 25px;
    color: #4b2e2e;
}

.carousel img{
    width: 500px;
    max-width: 90%;
    height: 320px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.carousel-buttons{
    margin-top: 20px;
}

.carousel-buttons button{
    margin: 10px;
}

.api-section{
    text-align: center;
    padding: 50px 20px;
}

.api-section p{
    margin-top: 20px;
    font-size: 20px;
}

.task4{
    text-align:center;
    padding:50px 20px;
}

.task4 h2{
    color:#4b2e2e;
    margin-bottom:20px;
}

.task4 button{
    margin:10px;
}

#productList{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
    margin-bottom:30px;
}

#favorite{
    font-size:18px;
    font-weight:bold;
    margin-top:15px;
    color:#4b2e2e;
}

.navbar{
    background:#4b2e2e;
    padding:15px;
    text-align:center;
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
    font-weight:bold;
}

.navbar a:hover{
    color:#f4d03f;
}   